name: CI	

on: 	
  push:	
    branches:	
      - master	

jobs:	
  tf_fmt:	
    name: Validate Validate	
    runs-on: ubuntu-latest	
    steps:	
    - name: Terraform init	
      uses: hashicorp/terraform-github-actions/init@v0.4.5	
    - name: Terraform validate	
      uses: hashicorp/terraform-github-actions/validate@v0.4.5	
    - name: Terraform plan -destroy	
      uses: hashicorp/terraform-github-actions/plan@v0.4.5 	
    - name: Terraform apply 	
      uses: hashicorp/terraform-github-actions/apply@v0.4.5 
